body{
background-color: #27292c;

}
h1, h2, p {
	color:white;
}
.jumbotron{
background-color: #ffffff;
text-align:center;
font-family: "Ar Julian";
}
h3{
    font-family:"Ar Julian";
	font-color:black;
	font-size: 37px;
}
